body{
    font-family: cursive;
    background:linear-gradient(blue,cyan,rgb(0,255,0));
}

.header{
    border: 8px ridge red;
    width:fit-content;
    padding:15px;
    border-radius: 12px;
    background:linear-gradient(rgb(0,255,0),cyan,blue);
}

button{
    border: 3px ridge red;
    width:200px;
    padding:10px;
    border-radius: 12px;
    background:linear-gradient(rgb(0,255,0),cyan,blue);
    font-size: 20px;
    font-family: cursive;
}